header{
    background: #BBBBBB;
    padding: 20px 0;
    
}

nav{
    position: absolute;
    top: 110px;
    right: 60px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: #4c0671;
    text-decoration: underline;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav ul{
    position: relative;
    top: 20px;
    left: 20px;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;

}

.produtos{
    width: 940px;
    margin: 0 auto; 
    padding: 10px;
}

.produtos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    width: 30%;
    border: 2px solid #000000;
    border-radius: 20px;
    
}

.produtos li:hover{
    border-color: #6b2192;
}

.produtos li:active{
    border-color: rgb(122, 122, 76);
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.preco{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li:hover h2{
    font-size: 40px;
    color:rgb(164, 160, 27);
}

.produtos p:hover{
    font-size: 40px;
}


.rodape p{
    color: aliceblue;
}
.rodape{
    background-image: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
}

#fundo{
    display: inline-block;
}

#logo{
    position: relative;
    
}
